* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e2e8f0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d2c3b;
}

/** MAIN */
header {
  display: flex;
  padding: 0 4rem 0.8rem;
  justify-content: space-between;
  align-items: center;
}

header h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.brand {
  display: flex;
  align-items: center;
}

.brand h1 {
  font-size: 3.8rem;

  font-family: "Times New Roman", Times, serif;
}

.brand img {
  height: 3.2rem;
}

footer {
  display: block;
  padding: 0.8rem 4rem 0;
}

footer input {
  width: 100%;
  margin-bottom: 0.2rem;
}

footer .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .btn button {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem 3.6rem;
  margin: 0.2rem 0.4rem;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

footer .btn button:hover {
  transform: scale(0.96);
}

#rewind {
  color: #e2e8f0;
  background-color: #0779e4;
}

#cancel {
  color: #2d3748;
  background-color: #e2e8f0;
}

/** FRONT */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.8rem;
}

.card * {
  color: #1d2c3b;
}

.card {
  padding: 1.6rem;
  background-color: #e2e8f0;
  border-radius: 16px;
}

.card h2 {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.card p {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  font-weight: bold;
}

.form {
  margin-top: 2rem;
  display: flex;
}

#input {
  width: 100%;
  height: 2.4rem;
  padding: 0.2rem 0.8rem;
  font-size: 1.2rem;
  border-radius: 0.4rem 0 0 0.4rem;
}

#start {
  padding: 0 1.6rem;
  background-color: #5d96d4;
  border: none;
  font-size: 1.2rem;
  color: #e2e8f0;
  border-radius: 0 0.4rem 0.4rem 0;
  cursor: pointer;
  transition: 1s;
}

#start:hover {
  background-color: #0069d9;
}
